@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Monoton|Ultra&display=swap');
.navbar-brand{
 
  font-family: monoton;
}
.navbar-size{
  padding-bottom: 63px;
}
.navbar-bt{
  top: 77px;
  left: 522px;
  position: absolute;
  font-size: 120%;
}
.pizzamenu{
  padding: 50px;
}